html{
    height:100%;

}

body {
    margin: 0px;
    padding: 0px;
}

.back {
    width: 100%;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position:bottom;

}
.background1 {
    background-image: url('../Img/Health1.jpeg');
    min-height: 600px;
  
}
.background2 {
    background-image: url('../Img/fitness.jpeg');
    min-height:400px;
}
.section {
    vertical-align: central;
    padding: 50px 80px;
    background-color: #4F4F4F;
    color: whitesmoke;
}
.section h1{

    font-size:30px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
@font-face {
    font-family: 'PoetsenOn';
    src: url('../Words/PoetsenOn.otf') format('opentype');
}

.header{
    font-family:PoetsenOn,'Bookman Old Style', sans-serif;
    font-size:52px;
    color: white;
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
}
.section p{
    font-family:sans-serif;

}.title {
    position: absolute;
    top: 50%;
    width: 100%;
   
    color: black;
    font-size: 40px;
    letter-spacing: 0px;
    text-transform: uppercase;
}
